.input__wrapper {
  margin-bottom: 15px;
}

.verification__form-submit {
  margin-top: 30px;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  border: 1px solid #ccc;
  padding: 20px;
}


.logos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logos div {
  width: 48%;
  text-align: center;
  border: 1px dashed #ccc;
  padding: 10px;

}

.logos_img {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos_img img {
  height: 100%;
  object-fit: cover;
}

.logos_img-capsule {
  background-color: #000;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form-group {
  width: 48%;
  margin-bottom: 15px;
}



.photo-upload {
  margin-bottom: 15px;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.submit-btn:hover {
  background-color: #45a049;
}

.non-editable {
  background-color: #f5f5f5;
  pointer-events: none;
}


.warranty__name-name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.warranty__name-main {
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;

}

.warranty-input-container {
  width: 100%;
  height: 40px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin-top: 10px;
}

.warranty-input-container input {
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #45a049;
  padding: 5px 10px;
}

.warranty__desc-text {
  width: 100%;
  text-align: left;
  font-size: 14px;
  line-height: 17px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button-container a {
  background-color: #45a049;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
}

.button-container button {
  background-color: #45a049;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
}




/* Container for the image previews */
/* Unique styles for image preview containers */
.image-preview-container-1,
.image-preview-container-2,
.image-preview-container-3 {
  margin-top: 10px;
}

.image-preview {
  display: flex;
  align-items: center;
  margin-top: 5px;
  position: relative;
}

.image-preview img {
  max-width: 100px;
  height: auto;
  border: 1px solid #ddd;
  margin-right: 10px;
}

.remove-image-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  right: 35px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warranty__desc-text h2 {
  margin-top: 20px;
  font-weight: 600;
  font-size: 23px;
}
.error-message{
  margin-top: 5px;
  font-weight: 600;
  font-size: 15px;
}
@media only screen and (max-width: 768px) {
  .form-row {
    flex-direction: column;

  }

  .form-group {
    width: 100%;
  }

  .logos_img img {
    width: 100%;
    object-fit: contain;
  }

  .button-container {
    flex-direction: column;
    text-align: center;
  }

  .button-container a {
    margin-bottom: 7px;
  }

  .button-container button {
    margin-bottom: 7px;
  }
}