.products__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.products__name {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    width: 100%;
    border-bottom: 1px solid #0e025021;
}
.products__list {
    width: 100%;
    
}
.products__list__desc {
    width: 1440px;
    height: 40px;
    display: flex;
    background-color: #bebebee5;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
}
.list__desc__id {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;


}
.list__desc__code {
    width: 200px;
}
.list__desc__verificationdate {
    width: 140px;
}
.list__desc__warranty {
    width: 200px;
}
.list__desc__type {
    width: 120px;
}
.list__desc__serviceid {
    width: 250px;
}


.products__list__data {
    display: flex;
    height: 40px;
}