@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik+Mono+One&display=swap');
:root {
    --button-background: linear-gradient(
        98.88deg,
        #055a00 -2.99%,
        #710000 102.28%
    );
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Inter', serif;
}

body::-webkit-scrollbar {
    width: 0;
}

body.lock {
    overflow: hidden;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-ms-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.main__container {
    min-height: 100vh;
    width: 100%;
    background-color: #000;
}
/****HEADER******/
/****HEADER******/
/****HEADER******/
.header {
}

/*******MAIN section*********/
.main {
    height: 100vh;
    min-height: 740px;
    width: 100%;
    position: relative;
}
/*****text and car*********/
.main__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 200;
}
.main__info {
    position: absolute;
    height: 452px;
    width: 697px;

    top: 18%;
    left: 70px;
}
.main__name h1 {
    color: #fff;
    font-size: 70px;
    font-weight: 400;
    line-height: 75.6px;
    letter-spacing: 0.6800000071525574px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.main__desc {
    margin-top: 49px;
    max-width: 542px;
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    line-height: 29.3px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.main__buttons {
    margin-top: 63px;
    width: 398px;
    display: flex;
}
.main__buttons button:nth-child(1) {
    width: 221px;
    height: 52px;
    background: var(--button-background);
    border-radius: 36px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.main__buttons button:nth-child(2) {
    width: 157px;
    height: 52px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0);

    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
    border-radius: 36px;
    margin-left: 20px;
}
.main__car {
    width: 1062px;
    height: 502px;
    position: absolute;
    right: 0;
    bottom: 10%;
}

/******main background*****/
.main__background {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
}
.main__background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/****American quality*********/
.american {
    width: 100%;
}
.american__name {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.6800000071525574px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
}
.american__wrapper {
    padding-top: 40px;
    width: 100%;
    height: 150px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.american__car__block {
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    height: auto;
    text-align: center;
}

@keyframes moveCar {
    0% {
        transform: translateX(-500%); /* Start off-screen on the left */
    }
    50% {
        transform: translateX(0); /* Fully visible in the center */
    }
    100% {
        transform: translateX(500%); /* Move off-screen to the right */
    }
}
.american__car__block img {
    animation-duration: 3s; /* Total animation duration */
    animation-timing-function: ease-in-out;
    animation-fill-mode: both; /* Keeps the state at the end of animation */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth fade-in */
}
/********About us section******/
.about_us {
    width: 100%;
    margin-top: 100px;
}
.about_us__container {
    width: 100%;
    height: 100%;

}
.about_us__name {
    font-size: 46px;
    font-weight: 700;

    letter-spacing: 0.800000011920929px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #34c81e;
    text-transform: uppercase;
}
.about_us__desc {
    position: relative;
    width: 100%;
    height: 265px;
}
.about_us__desc-text {
    position: absolute;
    width: 1366px;
    height: 164px;
    left: calc(50% - 683px);
    z-index: 200;
    color: #fff;
    margin-top: 45px;
}
.about_us__desc-text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 41px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.about_us__desc-back {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-image: url('../images/about_placeholder.png');

    background-size: 100% 100%; /* Set the width to 50% of the container */
    background-repeat: no-repeat; /* Prevent tiling */
    background-position: center; /* Center the image */
}
.about_us__desc-back img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.about_us__wrapper {
    display: flex;
    justify-content: space-between;
    height: 700px;
    width: 100%;
align-items: center;
}
.about_us__image {
    width: 840px;
    height: 100%;
    position: relative;

}
.about_us__image-placeholder1{
    position: absolute;
    z-index: 100;
    top: -90%;
}




.about_us__image-car{
    width: 100%;
    height: 100%;
    position: absolute;
    left: -19%;
    z-index: 200;
}
.about_us__image-car img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}
.about_us__content {

    width: calc(100% - 940px);

}
.about_us__content__name {
    font-family: "Rubik Mono One", monospace;
font-size: 46px;
font-weight: 400;
line-height: 54px;
letter-spacing: 0.800000011920929px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #fff;
margin-bottom: 52px;
}
.about_us__content__desc {
padding-right: 109px;


}
.about_us__content__desc  p {
    margin-bottom: 30px;
    color: #fff;
    font-size: 18px;
font-weight: 400;
line-height: 41px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
