@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter/Inter-VariableFont_opsz,wght.woff2') format('woff2');
  font-weight: 100 900;
  /* Variable font */
  font-display: swap;
}

/* Inter Italic */
@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter/Inter-Italic-VariableFont_opsz,wght.woff2') format('woff2');
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

/* Rubik Mono One */
@font-face {
  font-family: 'Rubik Mono One';
  src: url('fonts/Rubik_Mono_One/RubikMonoOne-Regular.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

:root {
  --button-background: linear-gradient(98.88deg,
      #055a00 -2.99%,
      #710000 102.28%);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
  width: 0;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-ms-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}


.header {
  position: fixed;
  top: 23px;
  left: 0;
  width: 100%;
  height: 113px;
  background: rgba(0, 0, 0, 0.6);
  /* Slight transparency for effect */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
  /* Ensures it's above all content */
  padding-right: 90px;
  padding-left: 80px;
}

.header__logo {
  height: 100px;
  width: 338px;
}

.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__navigation {
  width: 591px;
  height: 55px;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}


.nav_burger {
  width: 17px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav_burger span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.nav_elements {
  width: calc(100% - 60px);
  display: flex;
  justify-content: space-between;

}

.nav_elements button {
  background-color: #00000000;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 24.2px;
  letter-spacing: 0%;

}

.nav__rectangle {
  position: absolute;
}






.header__languages {
  position: relative;
}

.header__languages button {
  width: 79px;
  height: 48px;
  background: linear-gradient(90deg, #bb1216 0%, #581923 100%);
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  border: none;
  cursor: pointer;
  outline: none;
}

.language-dropdown {
  position: absolute;
  top: 50px;
  left: 0;
  width: 79px;
  display: none;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.language-dropdown a:nth-child(1) {
  border-radius: 10px 10px 0px 0px;
}

.language-dropdown a.active {
  background: #581923;
}

.language-dropdown a {
  width: 79px;
  height: 48px;
  background: linear-gradient(90deg, #bb1216 0%, #581923 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.language-dropdown a:nth-child(2) {
  border-radius: 0px 0px 10px 10px;
}





/*******main wrapper*******/
.main__wrapper {
  background-color: #000;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}



/*******HOME SECTION************/
/*******HOME SECTION************/
/*******HOME SECTION************/

.main__section {
  width: 100%;

}

.home__wrapper {
  width: 100%;
  height: 100vh;
  min-height: 700px;
  max-height: 1080px;
  position: relative;
}

.home__background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.home__background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home__desc__car {
  top: 215px;
  width: 100%;
  position: absolute;
  z-index: 200;


  display: flex;
  justify-content: space-between;
  padding-left: 70px;
}

.home__desc {
  width: 542px;
  display: flex;
  flex-direction: column;
}

.home__desc__name {
  color: #fff;
  font-weight: 400;
  font-size: 70px;
  line-height: 75.6px;
  letter-spacing: 2.68px;

}

.home__desc__text {
  color: #fff;
  font-weight: 400;
  font-size: 21px;
  line-height: 30.3px;
  letter-spacing: 0%;
  margin-top: 49px;
}

.home__desc__button {
  display: flex;
  margin-top: 63px;
}

.home__desc__button #contact_button {
  background: var(--button-background);
  width: 221px;
  height: 52px;
  border-radius: 36px;


  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #fff;
  text-transform: uppercase;
  margin-right: 24px;
}

.home__desc__button #lear_more_button {
  width: 157px;
  height: 52px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 36px;


  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #fff;
  text-transform: uppercase;
}

.home__car {

  height: 502px;
  width: 1062px;
  position: relative;
}

.home__car-image {
  position: absolute;
  width: 1062px;
  height: 502px;

  top: 150px;
}

.home__car-image img {
  width: 100%;
  object-fit: cover;
}

.home__car__desc {
  position: relative;

  width: 1062px;
  height: 502px;
}

/* Define the pulsating effect */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(187, 18, 22, 0.8);
  }

  50% {
    box-shadow: 0 0 15px 10px rgba(187, 18, 22, 0.6);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(187, 18, 22, 0.8);
  }
}

/*****CIRCLES AND DESC********/
.car__circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #34c81e;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;


}

.car__circle:hover div {
  border: 4px solid #BB1216;
}

.car__circle div {
  width: 27px;
  height: 27px;
  background-color: #fff;
  border-radius: 25px;
  /* Animation */
  animation: pulse 1.5s infinite ease-in-out;
}

.car__p {
  position: absolute;
  color: #fff;
  font-weight: 700;
  font-size: 21px;
  line-height: 27.3px;
  letter-spacing: 0%;

}

.car__desc {
  position: absolute;
}


/***CAR 1*****/
.car__circle1 {
  top: 188px;
  left: 155px;
}

.car__desc1 {
  left: 128px;
  top: 70px;
}

.car__p1 {
  left: 99px;
  top: 37px;
}

/*********CAR 2********/
.car__circle2 {
  left: 418px;
  top: 278px;
}

.car__desc2 {
  left: 360px;
  top: 104px;
}

.car__p2 {
  left: 273px;
  top: 76px;
}

/***CAR 3*****/

.car__circle3 {
  left: 638px;
  top: 215px;
}

.car__desc3 {
  left: 615px;
  top: 33px;
}

.car__p3 {
  left: 545px;
  top: 5px;
}

/***CAR 4*****/

.car__circle4 {
  left: 779px;
  top: 305px;
}

.car__desc4 {
  top: 110px;
  /* left: 351px; */
  right: 246px;
}

.car__p4 {
  right: 215px;
  top: 52px;
  max-width: 124px;
  text-align: center;
}


/***CAR 5*****/

.car__circle5 {
  left: 906px;
  top: 221px;
}

.car__desc5 {
  top: 42px;
  /* left: 351px; */
  right: 41px;
}

.car__p5 {
  right: 22px;
  top: -11px;
  max-width: 197px;
  text-align: right;
}


/* Hide descriptions and text by default */
.car__desc,
.car__p {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* Show description and text when hovering over the corresponding circle */
.car__circle1:hover~.car__desc1,
.car__circle1:hover~.car__p1 {
  opacity: 1;
  visibility: visible;
}

.car__circle2:hover~.car__desc2,
.car__circle2:hover~.car__p2 {
  opacity: 1;
  visibility: visible;
}

.car__circle3:hover~.car__desc3,
.car__circle3:hover~.car__p3 {
  opacity: 1;
  visibility: visible;
}

.car__circle4:hover~.car__desc4,
.car__circle4:hover~.car__p4 {
  opacity: 1;
  visibility: visible;
}

.car__circle5:hover~.car__desc5,
.car__circle5:hover~.car__p5 {
  opacity: 1;
  visibility: visible;
}




.home_desc_techno {
  position: relative;
  width: 100%;
  height: 250px;


  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 300;
}

.home_desc_text {
  font-weight: 400;
  font-size: 28px;
  line-height: 75.6px;
  letter-spacing: 0.68px;
  text-align: center;
  color: #fff;
  margin-bottom: 12px;
}

.home_desc_animation {
  position: absolute;
  bottom: 40px;

}

.home_desc_animation-car {
  position: absolute;
  width: 250px;
  height: 100px;
  bottom: 50px;
  transform: translateX(100vw);
  /* Initially off-screen */
  opacity: 0;
  /* Hidden until visible */
}

.home_desc_animation-car.animate {
  animation: carMove 3s ease-in;
  opacity: 1;
}

.home_desc_animation-car img {
  width: 100%;
  object-fit: contain;
}

@keyframes carMove {
  0% {
    transform: translateX(100vw);
    /* Start off-screen right */
  }

  40% {
    transform: translateX(calc(50%));
    /* Move to center (250px width/2) */
  }

  50% {
    transform: translateX(calc(50%));
    /* Stay in center for a bit */
  }

  100% {
    transform: translateX(-100vw);
    /* Move off-screen left */
  }
}




/*****ABOUT US********/
.about__section {
  width: 100%;
  margin-top: 20px;
}
.about__name__desc{
  width: 100%;
  height: 100%;

  background-image: url('./images/about_svg.svg');
  background-size: contain;
  background-position: bottom;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
.about__name {
  width: 100%;
  text-align: center;

  font-weight: 700;
  font-size: 46px;

  letter-spacing: 0.8px;
  text-align: center;
  color: #34C81E;
  text-transform: uppercase;
}
.about__desc{
  width: 100%;
  margin-top: 55px;
  
}

.about__desc p {
  max-width: 1523px;
  margin: 0 auto;

color: #fff;
font-weight: 400;
font-size: 18px;
line-height: 41px;
letter-spacing: 0%;
text-align: center;

}








.map__section {}

.warranty__section {}

.catalog__section {}

.gallery__section {}

.contact__section {}
@media only screen and (max-width: 1650px) {
  .home__desc__name {
    font-size: 54px;
  }
  .home__desc__text {
    font-size: 19px;
  }
  .home_desc_animation{
    width: 85%;
    margin: 0 auto;
  }
  .home_desc_animation img{
    width: 100%;
    object-fit: contain;
  }
}


@media only screen and (max-width: 768px) {
  .header {
    padding-left: 15px;
    padding-right: 16px;
  }

  .header__logo {
    width: 150px;
    height: 55px;
  }

  .header__navigation {
    width: 24px;
    border-bottom: none;
  }

  /*******main section HOME*********/
  .home__background img {
    width: 100%;
    height: initial;
  }

  .home__desc__car {
    padding-left: 0px;
    flex-direction: column;
  }

  .home__desc {
    margin-left: 18px;
  }

  .home__desc__name {

    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.68px;

  }

  .home__desc__text {
    margin-top: 10px;

    font-weight: 400;
    font-size: 12px;
    line-height: 27px;
    letter-spacing: 0%;

  }

  .home__desc {
    width: 100%;
  }

  .home__desc__text {
    max-width: 296px;
  }

  .home__desc__button {
    margin-top: 25px;
  }

  .home__car {
    width: 100%;
  }

  .home__car-image {
    width: 100%;
  }

  .home__car-image img {
    width: initial;
  }

  .home__car__desc {
    width: 100%;
  }

  .home__car-image {
    top: 70px;
  }

  .car__p {

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0%;

  }

  .car__desc1 {
    left: 44px;
    top: 75px;
  }

  .car__desc2 {
    left: 102px;
    top: 113px;
  }

  .car__p1 {
    max-width: 91px;
    left: 112px;
    top: 56px;
  }

  .car__p2 {
    left: 167px;
    top: 96px;
    max-width: 123px;
  }

  .car__p3 {
    left: 185px;
    top: 150px;
    max-width: 107px;
  }

  .car__desc3 {
    left: 88px;
    top: 166px;
  }



  .car__desc4 {
    top: 220px;
    left: 119px;
    right: initial;
  }

  .car__p4 {
    right: initial;
    left: 204px;
    top: 203px;
    max-width: 124px;
    text-align: left;
  }

  .car__desc5 {
    top: 282px;
    left: 110px;
    right: initial;
  }

  .car__p5 {
    right: initial;
    top: 263px;
    max-width: 79px;
    text-align: left;
    left: 195px;
  }

  .car__desc,
  .car__p {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
}